/* Variables */
:root {
    --text-header: rgb(51, 95, 99);
    --text-header-muted :rgba(51, 95, 99, 0.15);

    --text-primary: rgb(39, 105, 186);
    --text-primary-muted: rgba(39, 105, 186, 0.15);

    --white: rgb(255, 255, 255);
    --dim: rgb(200, 200, 200);
    --black: rgb(0, 0, 0);
    --border: rgb(150, 150, 150)
}

/* Configuration */
body, html {
    font-family: "Open Sans";

    /* Light Mode */
    color: var(--black);
    background-color: var(--white);
}

.dark-mode {
    color: var(--dim);
    background-color: var(--black);
}

body {
    /* font-family: "Open Sans", sans-serif; */
    min-height: 100vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    padding: 0;

    transition: all 250ms;
}

.content {
    max-width: 750px;
    width: 100%;
    min-height: calc(100vh - 2em);
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.body {
    flex: 1;
    
}

h1 {
    margin: 0;
    margin-top: 1em;
    font-weight: normal;
    font-size: 20px;
    color: var(--text-primary)
}

p {
    font-size: 15px;
    margin: 0;
}

a {
    text-decoration: underline;
    color: var(--text-primary);
}

a:hover {
    cursor: pointer;
}

button {
    margin-left: 1em;
    padding: 8px 20px;
    min-height: 0;
    height: fit-content;
    border: 0;

    background-color: var(--text-primary);
    color: var(--white);

    font-family: inherit;
    transition: 
        background-color 200ms;
}

button.secondary {
    background-color: inherit;
    color: var(--text-primary);
}

button.secondary:hover {
    background-color: var(--text-primary-muted);
}

button:hover {
    background-color: var(--text-primary-muted);
    color: var(--text-primary);
}

/* Dialog */
#dialog {
    display: none; /* flex by default */
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);

    align-items: center;
    justify-content: center;
    text-align: left;
}

#dialog-container {
    padding: 1em;
    background-color: var(--white);
}

#dialog-container h1 {
    margin: 0;
}

#dialog-container p {
    color: var(--black)
}

#dialog-container #buttons {
    flex-direction: row-reverse;
    display: flex;
}

#dialog-container button {
    margin-left: 1em;
}

/* Loading Overlay */
#loading {
    font-family: monospace;

    position: fixed;
    display: flex;
    
    width: 100%;
    height: 100%;

    align-items: center;
    justify-content: center;
    text-align: center;

    background-color: var(--white);
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    margin: 0;
    margin-bottom: 2em;
}

header h1 {
    margin: 0;
    font-size: 25px;
    color: var(--text-header)
}

header p {
    margin: 0;
    font-size: 13px;
}

header a {
    color: var(--text-header)
}

header button {
    background-color: var(--text-header);
}

header button:hover {
    background-color: var(--text-header-muted);
    color: var(--text-header);
}

header div {
    margin-right: 1em;
}

/* Footer */
footer {
    margin-top: 5em;
    min-height: 50px;
    /* background-color: inherit; */
}

footer p {
    font-size: 13px;
}

/* Styles */
.big-number {
    margin-top: 1em;
    font-size: 23px;
    font-family: "B612 Mono", monospace;
}

.small-number {
    font-family: "B612 Mono", monospace;
}


/* Bar */
.bar-container {
    width: 100%;
    height: 1em;
    border: solid 2px var(--border);
}

.bar {
    display: flex;
    background-color: var(--text-primary);
    width: 100%;
    height: 100%;

    font-family: "B612 Mono", monospace;
    font-size: 10px;
    text-align: center;
    color: inherit;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bar-label {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    text-align: left;
}

.bar-label p {
    width: 50%;
}

.bar-label .label-num {
    font-family: "B612 Mono", monospace;
    font-size: 12px;
    text-align: right;
}

/* Form */
.form {
    width: 100%;
}

.form div {
    display: flex;
    justify-content: right;
}

.form p {
    width: 100%;
    margin-top: 1em;
}

.form input {
    padding: 5px;
    width: 100%;
    border: 2px solid var(--border);
    background-color: inherit;
    color: inherit;
    box-sizing: border-box;
    transition: inherit;

    font-family: "B612 Mono", monospace;
}

.form button {
    margin-top: 2em;
}